[submodule "Source/Vendor/imgui"]
	path = Source/Vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Source/Vendor/volk"]
	path = Source/Vendor/volk
	url = https://github.com/zeux/volk
[submodule "Source/Vendor/vk-bootstrap"]
	path = Source/Vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "Source/Vendor/glm"]
	path = Source/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Source/Vendor/glfw"]
	path = Source/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Source/Vendor/VulkanMemoryAllocator"]
	path = Source/Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
